<%# <h1>Home</h1> %>
<%# <h3>Welcome To Home page!</h3> %>

<%# <%= link_to 'Articles listing', articles_path %> 

<%# <%= link_to 'About Page', about_path %> 

<div class="container mt-4" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <%# <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a> %>
    <%= link_to "Sign up!", signup_path, class:"btn btn-success btn-lg" %>
  </div>
</div>

<div id="page-content"></div>


<%# move to applicaton.html.erb %>
<%# <footer id="sticky-footer" class="py-4 bg-dark text-white"> %>
  <%# <div class="container text-center"> %>
    <%# <small>Copyright &copy; <%= link_to "Oybek Kayumov", "https://www.linkedin.com/in/oybek-kayumov/", class: "text-orange" !-->% !> Ruby on Rails v.7 Website</small> %>
  <%# </div> %>
<%# </footer> %>